{
  "name": "User Name",
  "google_id": "google_user_id",
  "email": "user@gmail.com",
  "theme": "default",
  "notifications": true,
  "auto_analysis": true,
  "privacy_mode": false,
  "alert_threshold": -0.5,
  "analysis_frequency": 5
}